$blue: rgb(13, 13, 116);
$grayIcon: rgb(12, 184, 242);
$textColor: rgb(255, 255, 255);
$bgColor: rgb(173, 215, 230);

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      font-family: "Poppins", sans-serif;
      background-color: $bgColor;
      max-width: 1100px;
      margin: 50px auto;
      box-shadow: 5px 5px $blue;
}

@mixin header-size {
      font-size: 1.5rem;
}

#banner {
      background-color: $blue;
      max-width: 100%;
      .left-banner {
            color: white;
            padding: 30px;
            .banner-img {
                  max-width: 100%;
                  // margin: 0 auto;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  img {
                        margin: 15px auto;
                        width: 250px;
                        height: 250px;
                        border-radius: 50%;
                  }
                  h1 {
                        text-align: center;
                        font-size: 1.2rem;
                  }
                  h3 {
                        font-size: 1rem;
                        text-align: center;
                        font-weight: 200;
                  }
                  hr {
                        background-color: white;
                        width: 60%;
                        margin: 20px auto;
                  }
            }
            .info {
                  margin: 10px 0;
                  &-icon {
                        @include header-size;
                  }
                  &-text {
                        @include header-size;
                  }
                  ul {
                        list-style-type: none;
                        margin-top: 15px;
                        li {
                              .icon {
                                    display: inline-block;
                                    width: 30px;
                                    color: rgb(12, 184, 242);
                              }
                              .ininfo {
                                    a {
                                          text-decoration: none;
                                          color: $textColor;
                                          &:hover {
                                                text-decoration: underline;
                                          }
                                    }
                              }
                        }
                  }
            }
            .study {
                  margin: 25px 0;
                  i {
                        @include header-size;
                  }
                  span {
                        @include header-size;
                  }
                  p {
                        margin-top: 15px;
                  }
            }
      }
      .right-banner {
            background-color: white;
            padding: 25px;
            .target {
                  span {
                        @include header-size;
                        i {
                              @include header-size;
                        }
                  }
                  div {
                        padding: 15px;
                  }
            }
            .skill {
                  margin-top: 25px;
                  i {
                        @include header-size;
                  }
                  span {
                        @include header-size;
                  }

                  &-content {
                        display: flex;
                        flex-wrap: wrap;
                        color: white;
                        padding: 15px;
                        &-info {
                              background-color: rgb(13, 13, 116);
                              display: flex;
                              flex-wrap: wrap;
                              width: 45%;
                              border: 1px solid;
                              padding: 5px 0;
                              border-radius: 5px;
                              border: none;
                              align-items: center;
                              margin-right: 5px;
                              margin-bottom: 5px;

                              .info-icon {
                                    @include header-size();
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 30%;
                              }
                              div {
                                    width: 65%;
                                    justify-content: center;
                                    align-items: center;
                                    .name {
                                          color: red;
                                          &:hover {
                                                cursor: pointer;
                                                color: rgb(156, 21, 21);
                                          }
                                    }
                                    .more {
                                          font-family: sans-serif;
                                          font-size: 0.8rem;
                                    }
                              }
                        }
                  }
            }
            .projects {
                  margin-top: 25px;
                  i {
                        @include header-size;
                  }

                  .project {
                        padding: 15px;
                  }
                  hr {
                        margin: 10px auto;
                  }
            }
            .favorite {
                  margin-top: 25px;
                  i {
                        @include header-size;
                  }
                  span {
                        @include header-size;
                  }
                  div {
                        padding: 15px;
                  }
            }
      }
      @media screen and (min-width: 1100px) {
            display: flex;
            flex-wrap: wrap;
            .left-banner {
                  flex: 40%;
            }
            .right-banner {
                  flex: 60%;
                  .skill {
                        &-content {
                              display: flex;
                              flex-wrap: wrap;
                              &-info {
                                    width: 24%;
                              }
                        }
                  }
            }
      }
}
