* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(173, 215, 230);
  max-width: 1100px;
  margin: 50px auto;
  box-shadow: 5px 5px rgb(13, 13, 116);
}

#banner {
  background-color: rgb(13, 13, 116);
  max-width: 100%;
}
#banner .left-banner {
  color: white;
  padding: 30px;
}
#banner .left-banner .banner-img {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#banner .left-banner .banner-img img {
  margin: 15px auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
#banner .left-banner .banner-img h1 {
  text-align: center;
  font-size: 1.2rem;
}
#banner .left-banner .banner-img h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: 200;
}
#banner .left-banner .banner-img hr {
  background-color: white;
  width: 60%;
  margin: 20px auto;
}
#banner .left-banner .info {
  margin: 10px 0;
}
#banner .left-banner .info-icon {
  font-size: 1.5rem;
}
#banner .left-banner .info-text {
  font-size: 1.5rem;
}
#banner .left-banner .info ul {
  list-style-type: none;
  margin-top: 15px;
}
#banner .left-banner .info ul li .icon {
  display: inline-block;
  width: 30px;
  color: rgb(12, 184, 242);
}
#banner .left-banner .info ul li .ininfo a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#banner .left-banner .info ul li .ininfo a:hover {
  text-decoration: underline;
}
#banner .left-banner .study {
  margin: 25px 0;
}
#banner .left-banner .study i {
  font-size: 1.5rem;
}
#banner .left-banner .study span {
  font-size: 1.5rem;
}
#banner .left-banner .study p {
  margin-top: 15px;
}
#banner .right-banner {
  background-color: white;
  padding: 25px;
}
#banner .right-banner .target span {
  font-size: 1.5rem;
}
#banner .right-banner .target span i {
  font-size: 1.5rem;
}
#banner .right-banner .target div {
  padding: 15px;
}
#banner .right-banner .skill {
  margin-top: 25px;
}
#banner .right-banner .skill i {
  font-size: 1.5rem;
}
#banner .right-banner .skill span {
  font-size: 1.5rem;
}
#banner .right-banner .skill-content {
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding: 15px;
}
#banner .right-banner .skill-content-info {
  background-color: rgb(13, 13, 116);
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  border: 1px solid;
  padding: 5px 0;
  border-radius: 5px;
  border: none;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
}
#banner .right-banner .skill-content-info .info-icon {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
#banner .right-banner .skill-content-info div {
  width: 65%;
  justify-content: center;
  align-items: center;
}
#banner .right-banner .skill-content-info div .name {
  color: red;
}
#banner .right-banner .skill-content-info div .name:hover {
  cursor: pointer;
  color: rgb(156, 21, 21);
}
#banner .right-banner .skill-content-info div .more {
  font-family: sans-serif;
  font-size: 0.8rem;
}
#banner .right-banner .projects {
  margin-top: 25px;
}
#banner .right-banner .projects i {
  font-size: 1.5rem;
}
#banner .right-banner .projects .project {
  padding: 15px;
}
#banner .right-banner .projects hr {
  margin: 10px auto;
}
#banner .right-banner .favorite {
  margin-top: 25px;
}
#banner .right-banner .favorite i {
  font-size: 1.5rem;
}
#banner .right-banner .favorite span {
  font-size: 1.5rem;
}
#banner .right-banner .favorite div {
  padding: 15px;
}
@media screen and (min-width: 1100px) {
  #banner {
    display: flex;
    flex-wrap: wrap;
  }
  #banner .left-banner {
    flex: 40%;
  }
  #banner .right-banner {
    flex: 60%;
  }
  #banner .right-banner .skill-content {
    display: flex;
    flex-wrap: wrap;
  }
  #banner .right-banner .skill-content-info {
    width: 24%;
  }
}/*# sourceMappingURL=style.css.map */